<!doctype html>
{% extends "layout.html" %}

{% block content %}
<main class="flex-grow-1">
    <div class="container-lg mt-3">
        <h1>Сайт: {{ site }}</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-nowrap" data-test="url">
                <tbody>
                    <tr>
                        <td>ID</td>
                        <td>{{ id }}</td>
                    </tr>
                    <tr>
                        <td>Имя</td>
                        <td>{{ site }}</td>
                    </tr>
                    <tr>
                        <td>Дата создания</td>
                        <td>{{ created_at }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}