<!doctype html>
{% extends "layout.html" %}

{% block content %}
<main class="flex-grow-1">
    <div class="container-lg mt-3">
        <h1>Сайты</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-nowrap" data-test="url">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for url in urls %}
                    <tr>
                        <td>{{ url[0] }}</td>
                        <td>
                            <a href="/urls/{{ url[0] }}">{{ url[1] }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}